<% if @user.collections.any? %>
<h5><%= pluralize(@user.collections.count, 'Book') %> in your Collection.</h5>
<hr>
	<% @collections.each do |collection| %>
		<div class='view view-first'>
			<%= image_tag(collection.book.image_url) %>
			<div class='mask'>
			<h3><%= collection.book.title %></h3>
			<p><%= link_to 'More..', collection.book %> 
				<% if collection.status %>
					Read
				<% elsif collection.status == false %>
					Not Read
				<% else %>
					Unset
				<% end %>
			</p>
			</div>
		</div>
	<% end %>
<% else %>
	<h5>Visit our <%= link_to 'Library', books_path %>, Browse & Add books to your Collection.</h5>
<% end %>