<div class='row'>
	<aside class='span4'>
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>

	<div class='span8'>
		<% if @user.collections.any? %>
		<h3>You have <%= pluralize(@user.collections.count, 'book') %> in your Collection.</h3>
			<ul>
				<%= render @collections %>
			</ul>
			<%= will_paginate @collections %>
		<% else %>
			<h5>You do not have any books on your Shelf, Add books to your collections by visiting our <%= link_to 'Library', books_path %></h5>
		<% end %>
	</div>

</div>